# Introduction

This section introduces the Python Programming uisng Colab. Follow the instructions and complete the exercises.

# Ex 1 : Check Version

Using the below cell, Import the required library and check the version of the python in your environment.

In [20]:
import sys
print("Python Version:{}".format(sys.version))

Python Version:3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]

# Ex2 : Convert Currency.

Write a program that asks the user for the amount in usd and converts it to British pounds. The exchange rate is from usd to BP is given as 0.82

In [1]:
usd_amount = input ("Enter the amount in USD: ")
bp_amount = int(usd_amount) *0.82
print("{} usd is equivalent to {} british pound".format(usd_amount, bp_amount))

Enter the amount in USD: 10
10 usd is equivalent to 8.2 british pound

# Ex 3: Temperature Converter

Write a program that convert temperature in Feranhite to celsius.

In [4]:
Fer_temp = input ("Enter the temperature in Feranhite:")
Cel_temp = (int (Fer_temp)-32)*5/9
print("{} Feranhite is equivalent to {} Celsius".format(Fer_temp,Cel_temp))

Enter the temperature in Feranhite:100
100 Feranhite is equivalent to 37.77777777777778 Celsius

# Ex 4: Daily Maths

You are working in a retail shop. Write a program that computes the total cost for a customer that bought 3 differnt types of fruits : apple, orange, mango. Ask the user to enter the quantity and price for each type.

In [13]:
apple_qty = int(input("Enter the quantity of apple:"))
apple_price = float(input("Enter the price of apple in usd:"))
apple_cost = apple_qty * apple_price
orange_qty = int(input("Enter the quantity of orange:"))
orange_price = float(input("Enter the price of orange in usd:"))
orange_cost = orange_qty * orange_price
mango_qty = int(input("Enter the quantity of mango:"))
mango_price = float(input("Enter the price of mango in usd:"))
mango_cost = mango_qty * mango_price
Total_cost = apple_cost + orange_cost + mango_cost
print("Total Cost:{} usd". format(Total_cost ))

Enter the quantity of apple:1
Enter the price or apple in usd:10
Enter the quantity of orange:2
Enter the price or orange in usd:20
Enter the quantity of mango:3
Enter the price or mango in usd:30
Total Cost:140.0 usd

# Ex 5 : Greeting

Write a program to greet the customer who provides the user name. Your program should ask the name of the customer and print "Hello + customer name"

In [15]:
customer_name = input("Enter your name:")
print("Hello  {}".format(customer_name))

Enter your name:Zin Me Me Kyaw
Hello  Zin Me Me Kyaw

# Ex 6: Random Number
Write a program that generates a random number, x, between 1 and 50, a random number y between 2 and 5, and computes x^y.

In [19]:
from random import randint
x = randint(1,50)
y = randint(2,5)
result = x ** y
print('A random number between 1 and 50: ', x)
print('A random number between 2 and 5: ', y)
print('A random number between x^y:{} '.format(result))

A random number between 1 and 50:  11
A random number between 2 and 5:  4
A random number between x^y:14641

# Ex 7: Greet many times.
Write a program that generates a random number between 1 and 10 and prints your name that many times.

In [29]:
from random import randint
x = randint(1,10)
print('A random number between 1 and 10: ', x)
my_name = "Zin Me Me Kyaw"
print((my_name + " ") * x)

A random number between 1 and 10:  1
Zin Me Me Kyaw

# Ex 8: Computing.
Write a program that asks the user to enter two numbers, x and y, and computes |x-y|/(x+y).

In [ ]:
x = float(input ("Enter the first number:"))
y = float(input ("Enter the second number:"))
result =  abs(x-y)/(x+y)7
print(result)

Enter the first number:3

# Ex 9: Computing

Write a program that asks the user for a number of seconds and prints out how many minutes and seconds that is. For instance, 200 seconds is 3 minutes and 20 seconds.

In [ ]:
total_seconds = int(input("Enter the number of seconds: "))
minutes = total_seconds // 60
remaining_seconds = total_seconds % 60
print("{} seconds is {} minutes and {} seconds.".format(total_seconds,minutes,remaining_seconds))

# Ex 10: Using Math Module

Write a program that asks the user for a number and then prints out the sine, cosine, and tangent of that number.

In [ ]:
import math

num = float(input("Enter a number:"))
sine_value = math.sin(num)
print(sine_value)