<a href="https://colab.research.google.com/github/zin-me/MMDT_T-PY101_Batch03/blob/main/ZinMeMeKyaw/Ex02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [3]:
my_string = "My name is python"

string_length = len(my_string)
print("The length of the string is:{}".format (string_length))

The length of the string is:17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [6]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s.count("Python")

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [10]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
combined_list = ls1 + ls2
number_of_elements = len(combined_list)
print("Combined List:{}".format(combined_list))
print("Number of elements in new list:{}".format(number_of_elements))

Combined List:['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']
Number of elements in new list:8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [14]:
my_dict=[
    {"Name": "Myo", "Age": 32},
    {"Name": "Thida", "Age": 64}
]
print(my_dict)

[{'Name': 'Myo', 'Age': 32}, {'Name': 'Thida', 'Age': 64}]

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [18]:
 set1 = {"Name", "age", "Height"}
 set2 = {"Name", "status", "Education"}
 combine_set=set1.union(set2)
 Length_set=len(combine_set)
 print("Combine set:",(combine_set))
 print("Length of the set:",(Length_set))

Combine set: {'status', 'age', 'Height', 'Name', 'Education'}
Length of the set: 5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [1]:
original_string = input("Enter a string: ")
new_string = original_string[0] + "*" + original_string[2:] + "!!!"
print(new_string)

Enter a string: hello
h*llo!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [4]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s.lower()
s.strip(".-,")
print("result:",(s))

result: Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language.

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [12]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
result=L2.remove(randint(1,101))
print("The missing number is:", (result))

The missing number is: None

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [14]:
ls1 = ["apple", "banana", "cherry"]
new_list = ls1.copy()
new_list.append("blueberry")
print("Original list:", ls1)
print("New list:", new_list)

Original list: ['apple', 'banana', 'cherry']
New list: ['apple', 'banana', 'cherry', 'blueberry']