<a href="https://colab.research.google.com/github/zin-me/MMDT_T-PY101_Batch03/blob/main/ZinMeMeKyaw/Ex05_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [2]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(2,4)

****
****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [9]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(3)

247

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [25]:
def number_of_factors(n):
    count = 0
    for i in range(1, n + 1):
        if n % i == 0:
            count += 1
    return count
number_of_factors(2)

2

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [30]:
def first_diff(string1, string2):
    s1 = string1.lower()
    s2 = string2.lower()

    min_length = min(len(s1), len(s2))

    for i in range(min_length):
        if s1[i] != s2[i]:
            return i

    if len(s1) != len(s2):
        return min_length

    return -1
first_diff("He", "HELLO")

2

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [35]:
def root(x, n=2):

    return x ** (1/n)
root(27, n=3)

3.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [36]:
def solve_system(a, b, c, d, e, f):
   determinant = a * d - b * c
   x = (e * d - b * f) / determinant
   y = (a * f - e * c) / determinant
   return x, y
solve_system(1, 2, 3, 4, 5, 6)

(-4.0, 4.5)

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [58]:
def change_case(text):
  result = ""
  for char in text:
        result += char.swapcase()
  return result
change_case ('Zin Me Me Kyaw')

'zIN mE mE kYAW'

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [62]:


def primes(n=100):

    prime_list = []
    current_number = 2

    while len(prime_list) < n:
        if is_prime(current_number):
            prime_list.append(current_number)
        current_number += 1

    return prime_list
primes(n=7)

[2, 3, 5, 7, 11, 13, 17]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [65]:
def place_move(board):

    empty_spots = []
    for r in range(3):
        for c in range(3):
            if board[r][c] == 0:
                empty_spots.append((r, c))


    if not empty_spots:
        return "The board is full!"


    chosen_row, chosen_col = random.choice(empty_spots)


    board[chosen_row][chosen_col] = 2

    return board
place_move([
    [1, 0, 2],
    [0, 1, 0],
    [2, 0, 0]
])

[[1, 0, 2], [0, 1, 2], [2, 0, 0]]

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are no repeated numbers in any row or any column or in any of the nine “blocks.”

In [67]:
def is_sudoku_valid(board):

    def is_valid_group(group):
        return sorted(group) == list(range(1, 10))

    for row in board:
        if not is_valid_group(row):
            return False

    for col in range(9):
        column_data = [board[row][col] for row in range(9)]
        if not is_valid_group(column_data):
            return False

    for r in range(0, 9, 3):
        for c in range(0, 9, 3):
            block = []
            for i in range(3):
                for j in range(3):
                    block.append(board[r + i][c + j])
            if not is_valid_group(block):
                return False

    return True
is_sudoku_valid([
    [1, 0, 2],
    [0, 1, 0],
    [2, 0, 0]
])

False