Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [2]:
from datetime import datetime

current_year = datetime.now().year
age_calculator = lambda year: datetime.now().year - year
age_calculator(1981)

45

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

In [4]:
cost_price = lambda cost: cost+ cost* 10/100
cost_price(1000)

1100.0

Q3) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

In [7]:
email_adress = lambda name,domain: name + '@' + domain + '.com'
email_adress("zinmemekyaw8","gmail")

'zinmemekyaw8@gmail.com'

Q4) Lambda in Data Science/Data Analysis

In [11]:
import pandas as pd
import io

# Simulate the content of rentals.csv with 11 columns to match the expected output
csv_data = """col1,col2,col3,bathrooms,col5,col6,col7,price,col9,col10,col11
1,a,10,1,x,y,z,50,p,q,r
2,b,20,2,x,y,z,120,p,q,r
3,c,30,4,x,y,z,80,p,q,r
4,d,40,3,x,y,z,150,p,q,r
5,e,50,0.5,x,y,z,30,p,q,r
"""

df = pd.read_csv(io.StringIO(csv_data))

# Q4.1) Create a new column called "size" where each entry is
# determined by the number of bathrooms: 'large' if the number of bathrooms is greater than 3, and 'small' otherwise.

df ['size'] = df ['bathrooms'].apply(lambda x: 'large' if x>3 else 'small')
df.head()


# -----------------------------------------------------------------#
# Q4.2) Creat a new column called "price_category" where
# Assign each entry as the following categories based on the price:
# If the price is greater than 100, the category should be 'premium'.
# Otherwise, the category should be 'standard'.

df ['price_category'] = df ['price'].apply(lambda x: 'premium' if x>100 else 'standard')
display(df.head())



# -----------------------------------------------------------------#
# Do not change the code below:
# Print the first five rows to see the data. You should have 11 columns

print(f"DataFrame has {df.shape[1]} columns")
df.head()

,col1,col2,col3,bathrooms,col5,col6,col7,price,col9,col10,col11,size,price_category
0,1,a,10,1.0,x,y,z,50,p,q,r,small,standard
1,2,b,20,2.0,x,y,z,120,p,q,r,small,premium
2,3,c,30,4.0,x,y,z,80,p,q,r,large,standard
3,4,d,40,3.0,x,y,z,150,p,q,r,small,premium
4,5,e,50,0.5,x,y,z,30,p,q,r,small,standard

DataFrame has 13 columns

,col1,col2,col3,bathrooms,col5,col6,col7,price,col9,col10,col11,size,price_category
0,1,a,10,1.0,x,y,z,50,p,q,r,small,standard
1,2,b,20,2.0,x,y,z,120,p,q,r,small,premium
2,3,c,30,4.0,x,y,z,80,p,q,r,large,standard
3,4,d,40,3.0,x,y,z,150,p,q,r,small,premium
4,5,e,50,0.5,x,y,z,30,p,q,r,small,standard